.Logo{
    max-width: 180px;
}
.NavBar{
    background-color: rgb(255, 255, 255);
}
.NavPages{
    text-decoration: none;
    color: sienna;
}
.NavPages:active{
    text-decoration: none;
    border: none !important;
    background-color: white;
   
}
.noborderbutton button{
    text-decoration: none !important;
     border: none !important;
     background-color: white !important;
     color: sienna !important;
     font-size: larger;
     font-weight: 600;
  }
.noborderbutton:active{
    
     color: white !important;
     text-decoration: none !important;
     border: none !important;
  }
  .Search{
    background-color: white !important;
    color: sienna !important;
  }
  .Search:active{
    background-color: sienna !important;
    color: white !important;
  }
 